  #map {
      height: 100vh;
  }

  #banner {     
      height: 200px;
      width: 100%;
      background-image: url('./images/pattern-bg-desktop.png');
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff;
      font-family: sans-serif;
      text-align: center;
      padding: 5px;
      background-position: center;
  }

  .input-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      padding-top:10px;
  }

  input {
      flex: 1;
      height: 40px;
      font-size: 16px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
  }

  #arrow {
      background-color: #000;
      padding: 12px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: grab;
  }

  .attribution {
      font-size: 11px;
      text-align: center;
  }

  .attribution a {
      color: hsl(228, 45%, 44%);
  }